<div class="container pb-3">
  <h5 class="my-3">First Module - Page Two (Poke API)</h5>
  <p>Contador: {{ counter }}</p>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card">
        <h6 class="card-header">Pokemons</h6>

        <pre>{{ pokemons | json }}</pre>
        
      </div>
      <div class="mt-3 d-block">
        <a routerLink="/first-module" style="width: max-content;" class="d-block mx-auto btn btn-outline-secondary">Regresar Main Page</a>
      </div>
    </div>
  </div>
</div>
