<div class="container">
  <!-- <h5 class="my-3">{{ title }}</h5> -->
  <!-- <h5 class="my-3">{{ dataService.titulo$ | async  }}</h5> -->
  
  <h5 class="my-3" *ngIf="dataService.titulo$ | async as nombre; else noData">{{nombre}}</h5>
  <ng-template #noData>
    <h5 class="my-3">Página principal (main)</h5>
  </ng-template>
  
  <div class="row">
    <div class="col-sm-12 col-md-2 mb-2">
      <div class="list-group">
        <a [routerLinkActive]="'active'" routerLink="/second-module/page-one" class="list-group-item list-group-item-action">Page one</a>
        <a [routerLinkActive]="'active'" routerLink="/second-module/page-two" class="list-group-item list-group-item-action">Page two</a>
        <a [routerLinkActive]="'active'" routerLink="/second-module/page-three" class="list-group-item list-group-item-action">Page three</a>
        <a [routerLinkActive]="'active'" routerLink="/second-module/page-four" class="list-group-item list-group-item-action">Page four</a>
      </div>
    </div>
    <div class="col-sm-12 col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

