header.header{
  width: 100%;
  min-height: 100px;
  background-color: var(--c-primary);
  color: var(--c-secondary)
}

.nav-item{
  list-style: none;
  padding: 0.75rem;
}

.nav-link.active{
  color: rgb(15, 241, 165);
  font-weight: 600;
  position: relative;

  &::after{
    content: '';
    width: 100%;
    position: absolute;
    bottom: -2px;
    right: 50%;
    transform: translateX(50%);
    border-bottom: 2px solid rgb(15, 241, 165);
  }
}

.nav-link:hover{
  color: rgb(15, 241, 165);
}